img{
    width:100%;
    max-width: 33.33%;
    float: left;
}
.image-container{

}
.image-container__text{

}
.image-container__img--hide {
    opacity: 0;
}
.image-container__img--show {
    animation: fadeIn 2s;
}

.show {
    // display: block;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to{
        opacity:1;
    }
}
