.image-container {
  margin: 0;
  padding: 0;
}

.image-container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.image-container-list {
  float: left;
  width: 20%;
}

.image-container-list__inner__img--hide {
  opacity: 0;
}

.image-container-list__inner__img--show {
  animation: fadeIn 400ms ease-in;
  opacity: 1;
}

img {
  width: 100%;
  display: block;
  height: 200px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

li {
  list-style: none;
}

.pagination-container {
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
